<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="parseHistory">
            <h2><span>Parse History</span> {{parseHistory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>File Name</span></dt>
                <dd>
                    <span>{{parseHistory.fileName}}</span>
                </dd>
                <dt><span>File Size</span></dt>
                <dd>
                    <span>{{parseHistory.fileSize}}</span>
                </dd>
                <dt><span>Parsed Date</span></dt>
                <dd>
                    <span>{{parseHistory.parsedDate}}</span>
                </dd>
                <dt><span>Game</span></dt>
                <dd>
                    <div *ngIf="parseHistory.game">
                        <a [routerLink]="['/game', parseHistory.game?.id, 'view']">{{parseHistory.game?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/parse-history', parseHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
