<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="playerAction">
            <h2><span>Player Action</span> {{playerAction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{playerAction.amount}}</span>
                </dd>
                <dt><span>Player</span></dt>
                <dd>
                    <div *ngIf="playerAction.player">
                        <a [routerLink]="['/player', playerAction.player?.id, 'view']">{{playerAction.player?.id}}</a>
                    </div>
                </dd>
                <dt><span>Game</span></dt>
                <dd>
                    <div *ngIf="playerAction.game">
                        <a [routerLink]="['/game', playerAction.game?.id, 'view']">{{playerAction.game?.id}}</a>
                    </div>
                </dd>
                <dt><span>Hand</span></dt>
                <dd>
                    <div *ngIf="playerAction.hand">
                        <a [routerLink]="['/hand', playerAction.hand?.id, 'view']">{{playerAction.hand?.id}}</a>
                    </div>
                </dd>
                <dt><span>Action</span></dt>
                <dd>
                    <div *ngIf="playerAction.action">
                        <a [routerLink]="['/action', playerAction.action?.id, 'view']">{{playerAction.action?.id}}</a>
                    </div>
                </dd>
                <dt><span>Betting Round</span></dt>
                <dd>
                    <div *ngIf="playerAction.bettingRound">
                        <a [routerLink]="['/betting-round', playerAction.bettingRound?.id, 'view']">{{playerAction.bettingRound?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/player-action', playerAction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
