<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-player-action-heading">Create or edit a Player Action</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bettingRound">Betting Round</label>
                    <select class="form-control" name="bettingRound" formControlName="bettingRound" id="field_bettingRound">
                        <option value="ANTE_BLINDS">ANTE_BLINDS</option>
                        <option value="PRE_FLOP">PRE_FLOP</option>
                        <option value="FLOP">FLOP</option>
                        <option value="TURN">TURN</option>
                        <option value="RIVER">RIVER</option>
                        <option value="SHOW_DOWN">SHOW_DOWN</option>
                        <option value="SUMMARY">SUMMARY</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_action">Action</label>
                    <select class="form-control" name="action" formControlName="action" id="field_action">
                        <option value="CALLS">CALLS</option>
                        <option value="FOLDS">FOLDS</option>
                        <option value="POSTS_ANTE">POSTS_ANTE</option>
                        <option value="POSTS_SB">POSTS_SB</option>
                        <option value="POSTS_BB">POSTS_BB</option>
                        <option value="RAISES">RAISES</option>
                        <option value="CHECKS">CHECKS</option>
                        <option value="BETS">BETS</option>
                        <option value="COLLECTS">COLLECTS</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_callsPf">Calls Pf</label>
                    <input type="checkbox" class="form-control" name="callsPf" id="field_callsPf"
                           formControlName="callsPf"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_raisesPf">Raises Pf</label>
                    <input type="checkbox" class="form-control" name="raisesPf" id="field_raisesPf"
                           formControlName="raisesPf"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_threeBetPf">Three Bet Pf</label>
                    <input type="checkbox" class="form-control" name="threeBetPf" id="field_threeBetPf"
                           formControlName="threeBetPf"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_callsFlop">Calls Flop</label>
                    <input type="checkbox" class="form-control" name="callsFlop" id="field_callsFlop"
                           formControlName="callsFlop"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_betsFlop">Bets Flop</label>
                    <input type="checkbox" class="form-control" name="betsFlop" id="field_betsFlop"
                           formControlName="betsFlop"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_raisesFlop">Raises Flop</label>
                    <input type="checkbox" class="form-control" name="raisesFlop" id="field_raisesFlop"
                           formControlName="raisesFlop"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_player">Player</label>
                    <select class="form-control" id="field_player" name="player" formControlName="player">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="playerOption.id === editForm.get('player').value?.id ? editForm.get('player').value : playerOption" *ngFor="let playerOption of players; trackBy: trackPlayerById">{{playerOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_game">Game</label>
                    <select class="form-control" id="field_game" name="game" formControlName="game">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gameOption.id === editForm.get('game').value?.id ? editForm.get('game').value : gameOption" *ngFor="let gameOption of games; trackBy: trackGameById">{{gameOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_hand">Hand</label>
                    <select class="form-control" id="field_hand" name="hand" formControlName="hand">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="handOption.id === editForm.get('hand').value?.id ? editForm.get('hand').value : handOption" *ngFor="let handOption of hands; trackBy: trackHandById">{{handOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
