<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gameHistory">
            <h2><span>Game History</span> {{gameHistory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{gameHistory.startDate}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{gameHistory.name}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{gameHistory.type}}</span>
                </dd>
                <dt><span>Net Result</span></dt>
                <dd>
                    <span>{{gameHistory.netResult}}</span>
                </dd>
                <dt><span>Sit And Go</span></dt>
                <dd>
                    <div *ngIf="gameHistory.sitAndGo">
                        <a [routerLink]="['/sit-and-go', gameHistory.sitAndGo?.id, 'view']">{{gameHistory.sitAndGo?.id}}</a>
                    </div>
                </dd>
                <dt><span>Tournoi</span></dt>
                <dd>
                    <div *ngIf="gameHistory.tournoi">
                        <a [routerLink]="['/tournoi', gameHistory.tournoi?.id, 'view']">{{gameHistory.tournoi?.id}}</a>
                    </div>
                </dd>
                <dt><span>Cash Game</span></dt>
                <dd>
                    <div *ngIf="gameHistory.cashGame">
                        <a [routerLink]="['/cash-game', gameHistory.cashGame?.id, 'view']">{{gameHistory.cashGame?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/game-history', gameHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
