<div>
    <h2 id="page-heading">
        <span>Cash Games</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cash-game" [routerLink]="['/cash-game/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Cash Game
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="cashGames?.length === 0">
        <span>No cashGames found</span>
    </div>
    <div class="table-responsive" *ngIf="cashGames?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>End Date</span></th>
            <th scope="col" ><span>Profit</span></th>
            <th scope="col" ><span>Table</span></th>
            <th scope="col" ><span>Sb Bb</span></th>
            <th scope="col" ><span>Nb Hands</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cashGame of cashGames ;trackBy: trackId">
                <td><a [routerLink]="['/cash-game', cashGame.id, 'view' ]">{{cashGame.id}}</a></td>
                <td>{{cashGame.endDate | date:'medium'}}</td>
                <td>{{cashGame.profit}}</td>
                <td>{{cashGame.table}}</td>
                <td>{{cashGame.sbBb}}</td>
                <td>{{cashGame.nbHands}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/cash-game', cashGame.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cash-game', cashGame.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cash-game', { outlets: { popup: cashGame.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
